.page-login
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    // background: $darkblue
    min-height: calc(100vh - $footer-height)
    // background-image: url('../../assets/home/cloud-background.png')
    font-size: 17px

    form
        width: 300px
        label
            font-weight: 500
        input
            border: 1px solid #ccd1d9

    

    .remember
        width: 100%
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        input[type=checkbox]
            width: 1em
            margin-right: 1em
        h4
            font-weight: 300

    .optional-action
        margin: 1.5em
        color: #1e68fc

        &:hover
            color: $dark
            


